<nav class="indigo lighten-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Lab 20 Express Handlebars</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/ilyaistomin789" target="_blank">GitHub</a></li>
        </ul>
    </div>
</nav>
