<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Lab 22 Forms</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="https://github.com/ilyaistomin789" target="_blank">Github</a></li>
        </ul>
    </div>
</nav>
