<a href="/login" class="waves-effect waves-light btn-small"><i class="material-icons left">login</i>Login</a>
<a href="/logout" class="waves-effect waves-light btn-small"><i class="material-icons left">logout</i>Logout</a>
<a  href="/resource" class="waves-effect waves-light btn-small"><i class="material-icons left">view_in_ar</i>Resource</a>
